
  <div class="container">
    <form autocomplete="off">

      <div class="ui-g">
        <div class="ui-g-12">
            <h1>Indicação</h1>
        </div>

        <!-- Descrição -->
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Descrição </label>
            <input pInputText type="text" name="descricao"
            ngModel #descricao="ngModel" required minlength="5">

            <app-message
              [control]="descricao" error="required" text="Informe uma descrição!">
            </app-message>
            <app-message
              [control]="descricao" error="minlength"
               text="Informe a descrição com no minimo {{ descricao.errors?.minlength?.requiredLength}} caracteres!">
            </app-message>
        </div>

        <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisara"></button>
        </div>

      </div>

      <!-- Grid de Tabela de Dados -->
      <div class="ui-g">
        <div class="ui-g12" class="ui-g-12">
          <p-table [value]="midias" [paginator]="true" [rows]="4"
              [responsive]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th class="col-id">Id</th>
                      <th>Descrição</th>
                      <th class="col-acoes">Ações</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-m>
                  <tr>
                      <td class="col-id"> {{m.id}}</td>
                      <td>{{m.descricao}}</td>
                      <td class="col-acoes">
                        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                        <label></label>
                        <p-button  icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></p-button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Criar Nova Mídia"></button>
        </div>
      </div>
    </form>
  </div>
