<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--
  <router-outlet></router-outlet>
  <app-pacientecadastro></app-pacientecadastro>
  <app-pacientepesquisa></app-pacientepesquisa>
  <app-form></app-form>
  <app-indicacaopesquisa></app-indicacaopesquisa>
  <app-lancamentocadastro></app-lancamentocadastro>
  <app-lancamentopesquisa></app-lancamentopesquisa>
  <app-navbar></app-navbar>
  <app-orcamentocadastro></app-orcamentocadastro>
  <app-orcamentopesquisa></app-orcamentopesquisa>
  <app-pessoacadastro></app-pessoacadastro>
  <app-pessoapesquisa></app-pessoapesquisa>
-->
