<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h2>Cadastro de Paciente</h2>
      </div>
    </div>

    <!-- CLINICA -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Clinica</label>
      </div>
      <div class="ui-g-10">
        <label>Meier</label>
      </div>
    </div>
    <!-- TIPO -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Tipo</label>
      </div>
      <div class="ui-g-10">
        <label>ORÇAMENTO</label>
      </div>
    </div>

    <!-- DATA DE CADASTRO -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Data de Cadastro</label>
      </div>
      <div class="ui-g-4">
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="true" [showIcon]="true">
        </p-calendar>
      </div>
      <!-- DATA DE LANÇAMENTO -->
      <div class="ui-g-2">
        <label>Data de Lancamento</label>
      </div>
      <div class="ui-g-4">
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="true" [showIcon]="true">
        </p-calendar>
      </div>
    </div>

    <!-- CPF -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>CPF</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="text" size="20">
      </div>
      <!-- NOME DO PACIENTE-->
      <div class="ui-g-2">
        <label>Nome do Paciente</label>
      </div>
      <div class="ui-g-4 ui-fluid">
        <input pInputText type="text" size="50">
      </div>
    </div>

    <!-- CELULARES -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Celular #1</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="text">
      </div>
      <div class="ui-g-2">
        <label>Celular #2</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="text">
      </div>
    </div>

    <div class="ui-g">
      <!-- TELEFONE FIXO -->
      <div class="ui-g-2">
        <label>Telafone Fixo</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="text">
      </div>
      <div class="ui-g-2">
        <label>Ramal</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="text">
      </div>
    </div>

    <!-- INDICAÇÃO MIDIA -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Indicação Midia</label>
      </div>
      <div class="ui-g-10 ui-md-4 ui-fluid">
        <p-dropdown [options]="midia" placeholder="Selecione"></p-dropdown>
      </div>
    </div>
      <!-- NOME INDICANTE -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Nome Indicante</label>
      </div>
      <div class="ui-g-4 ui-fluid">
        <input pInputText type="text">
      </div>
      <div class="ui-g-2">
        <label>CPF Indicante</label>
      </div>
      <div class="ui-g-4 ui-fluid">
        <input pInputText type="text">
      </div>
    </div>

    <!-- DENTISTA -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Dentista</label>
      </div>
      <div class="ui-g-10 ui-md-5 ui-fluid">
        <p-dropdown [options]="dentista" placeholder="Selecione"></p-dropdown>
      </div>
    </div>

    <!-- ESPECIALIDADE -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Especialidade</label>
      </div>
      <div class="ui-g-10  ui-md-5 ui-fluid">
        <p-dropdown [options]="especialidade" placeholder="Selecione" [filter]="true"></p-dropdown>
      </div>
    </div>

    <!-- TABELA -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Tabela</label>
      </div>
      <div class="ui-g-10 ui-md-5 ui-fluid">
        <p-dropdown [options]="tabela" placeholder="Selecione" [filter]="true"></p-dropdown>
      </div>
    </div>

    <!-- No CARTEIRA PLANO -->
    <div class="ui-g">
      <div class="ui-g-2">
        <label>No Carteira Plano</label>
      </div>
      <div class="ui-g-10 ui-md-5 ui-fluid">
        <input pInputText type="text" size="10">
      </div>
    </div>

      <!-- BOTÕES -->
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <a routerLink="/paciente">Voltar para a pesquisa</a>
      </div>

  </form>


