<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"> </i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Moraes</li>
    <li class="nav-menuitem"><a routerLink="/paciente">Pesquisa Paciente </a></li>
    <li class="nav-menuitem"><a routerLink="/pacientecadastro">Cadastro Paciente </a></li>
    <li class="nav-menuitem"><a routerLink="/orcamento">Orçamento</a></li>
<!--
    <li class="nav-menuitem"><a routerLink="/orcamento/novo">Novo Orcamento</a></li>
    <li class="nav-menuitem"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li class="nav-menuitem"><a routerLink="/lancamentos/novo">Novo Lançamentos</a></li>
    <li class="nav-menuitem"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="nav-menuitem"><a routerLink="/pessoas/novo">Nova Pessoa</a></li>
-->
    <li class="nav-menuitem"><a href="#">Logout</a></li>
  </ul>

</nav>

